<!doctype html>
<script type="text/javascript"> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<h1> Repo List </h1>

<hr>

{% for repo in repo_list %}
<div> <a href="{{ url_for('prdashboard', repo=repo) }}" target="_blank"> {{ repo }} </a> </div>
{% endfor %}

<hr>

<button type="button" class="btn btn-info btn-sm">
    <a href="{{ url_for('export_mark') }}" style="color:inherit">Export Mark</a>
</button>

