<!doctype html>
<script type="text/javascript"> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/pagination/input.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">



<style type="text/css">
.btn {
    padding: 0.5px 0.5px;
    border: 0 none;
    font-weight: 100;
    font-size: 4;
    letter-spacing: 1px;
}
</style>

<script type="text/javascript">
    $(function() {
        var mark = function(e) {
            var obj = $(this);
            $.getJSON($SCRIPT_ROOT + '/mark', {
                repo: obj.parents('table').attr('id'),
                num: obj.parent().siblings('.num').text(),
                choice: obj.attr('id'),
                input: obj.val(),
            }, function(data) {
                if (obj.attr('id') == 'C') {
                    obj.siblings('.content').text(data);
                } else {
                    obj.parent().siblings('.mark').text(data);
                }
            });
        };
        $('table button').click(mark);
        $('table input').keyup(mark);
        
        var addmore = function(e) {
            $.getJSON($SCRIPT_ROOT + '/random_add', {
                repo: $('table').attr('id'),
            }, function(data) {
                alert('Add finish! Please load.');
            });
        };
        $('#addmore').click(addmore);
    });
</script>


<script>
$(document).ready( function () {
    var t = $('table').DataTable({
        "columnDefs": [ { "searchable": false, "orderable": false, "targets": 0 },
                        { "searchable": false, "orderable": false, "targets": 8 },
                        { "searchable": false, "orderable": false, "targets": 9 },
                      ],
        dom: 'Blfrtip',
        buttons: [
            'csv',
        ],
        "order": [[ 5, "desc" ]],
        "pagingType": "input",
        fixedColumns:   {
            heightMatch: 'none'
        },
        //"scrollY": "500px",
        //"scrollCollapse": true,
        //"paging": false,
    });
    
    // Build the row number.
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
} );
</script>


<div>
<h1>
    Duplicate Pull Requests of {{ repo }} DashBoard 
    <button type="button" class="btn btn-info btn-sm">
        <a href="{{ url_for('index') }}" style="color:inherit">Homepage</a>
    </button>
    <!--
    <button type="button" class="btn btn-info btn-sm">
        <a href="{{ url_for('load', repo=repo) }}" style="color:inherit">Load From Local</a>
    </button>
    !-->
    <button type="button" class="btn btn-info btn-sm" id="addmore">Add More</button>
</h1>
</div>

{% for message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ message[0] }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message[1] }}
    </div>
{% endfor %}

<table id="{{ repo }}" class="display">
    <thead>
        <tr>
            <th> </th>
            <th> Number </th>
            <th> Title </th>
            <th> Dup Number </th>
            <th> Dup Title </th>
            <th> Probability </th>
            <th> Status </th>
            <th> Comment </th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for dup in dup_list %}
        <tr>
            <td> </td>
            {% set pull = pull_dict[dup['num']] %}
            <td class="num"> {{ pull['number'] }} </td>

            <td> <a tag="title" href="{{ pull['html_url'] }}" target="_blank"> {{ pull['title'] }} </a> </td>

            {% set pull2 = pull_dict[dup['num2']] %}
            <td class="num2"> {{ pull2['number'] }} </td>

            <td> <a tag="title" href="{{ pull2['html_url'] }}" target="_blank"> {{ pull2['title'] }} </a> </td>

            <td> {{ dup.get('proba', '') }} </td>

            <td class="mark"> {{ dup.get('mark', '') }} </td>

            <td class="comment"> 
                <div style="float:left;" class="content">{{ dup.get('comment', '') }}</div>
                <input style="float:right;" type="text" size="8" id="C">
            </td>
            
            <td>
                <button type="button" class="btn btn-success btn-sm" id="Y">Dup</button>
            </td>
            
            <td>
                <button type="button" class="btn btn-warning btn-sm" id="N">Non-Dup</button>
            </td>
            
            <td>
                <button type="button" class="btn btn-dark btn-sm" id="unknown">N/A</button>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>



